<%- include("partials/header.ejs") %>

<div class="container-dashboard text-center mt-4">
  <a href="/users/logout" class="btn btn-outline-primary mb-3">Logout</a>
  <h1>Hello <%= user.charAt(0).toUpperCase() + user.slice(1) %></h1>
</div>
<hr />
<div class="container">
  <form action="/anime/search">
    <input
      type="text"
      class="styled-input"
      name="q"
      placeholder="Search Anime....."
    />
    <input type="submit" style="height: 3%; width: 10%" />
  </form>
</div>
<div class="text-center mt-4">
  <a
    href="/users/allanime"
    class="btn btn-primary"
    style="padding: 1% 2%; border-radius: 30px"
    >Anime List</a
  >
</div>
<div class="anime-stat text-center mt-4">
  <h2>My Statistics:</h2>
  <% if (stats) { %>
  <ul>
    <li>Total Entries: <%= stats.total_entries %></li>
    <li>Total Episodes: <%= stats.total_episodes %></li>
  </ul>
  <% } else { %>
  <p>No anime list data found.</p>
  <% } %>
</div>

<%- include("partials/footer.ejs") %>
